Repository forgotten-logic/logic-app, pull requests merged in 2021-02, with the labels that each got.

#12 Added GH ACP action reminder
  .github/ISSUE_TEMPLATE/app-issues-tasks.md
Labels: todo

#15 Flesh out home page html as well as basics to other html pages
  about-devs/index.html
  index.html
  puzzles/index.html
Labels: home-page, site-wide, todo

#20 created data model for eight puzzle
  data/eight-data.js
Labels: puzzles

#18 Home page features
  app.js
  common/utils.js
  index.html
Labels: home-page, site-wide

#19 add and TDD movableTiles function
  puzzles/puzzle.js
  test/logic.test.js
Labels: puzzles

#17 Puzzle rendering
  puzzles/index.html
  puzzles/puzzle-render-utils.js
  puzzles/puzzle.css
  puzzles/puzzle.js
Labels: puzzles

#21 updated file pathing and commented out pending functions/tests.
  common/utils.js
  puzzles/puzzle-render-utils.js
  puzzles/puzzle-utils.js
  puzzles/puzzle.js
  test/logic.test.js
Labels: site-wide

#23 fixes checkIfMovable and also changes eightData tileId to just id
  data/eight-data.js
  puzzles/puzzle-render-utils.js
  puzzles/puzzle-utils.js
  test/logic.test.js
Labels: puzzles

#24 placeholder nav-bar/updated move counter and local storage move counter
  about-devs/index.html
  app.js
  common/common.css
  common/utils.js
  index.html
  puzzles/index.html
  puzzles/puzzle-render-utils.js
Labels: home-page, puzzles, site-wide

#22 Tile placement
  puzzles/puzzle-render-utils.js
  puzzles/puzzle.js
  test/logic.test.js
Labels: puzzles

#27 push major changes to puzzle render and puzzle utils
  data/eight-data.js
  puzzles/puzzle-render-utils.js
  puzzles/puzzle-utils.js
Labels: puzzles

#29 Tile placement
  puzzles/puzzle-render-utils.js
  puzzles/puzzle.js
  test/logic.test.js
Labels: puzzles

#28 added function to display user results, moves and solves
  common/utils.js
  puzzles/index.html
  puzzles/puzzle-render-utils.js
  puzzles/puzzle-utils.js
  puzzles/puzzle.js
  test/logic.test.js
Labels: puzzles

#33 Update index.html
  index.html
Labels: home-page, site-wide

#34 updated eight-data.js to reflect current data model
  data/eight-data.js
Labels: site-wide

#36 fix position keys and camelCase issues
  puzzles/puzzle-render-utils.js
  puzzles/puzzle-utils.js
Labels: puzzles

#37 add checkWinCondition function and increment user
  puzzles/puzzle-render-utils.js
  puzzles/puzzle-utils.js
  test/logic.test.js
Labels: puzzles

#39 Popup results display
  about-devs/index.html
  common/utils.js
  puzzles/index.html
  puzzles/puzzle-render-utils.js
  puzzles/puzzle-utils.js
  puzzles/puzzle.css
  puzzles/puzzle.js
Labels: puzzles

#40 updated some pathing issues and temporarily disabled solve function u…
  puzzles/puzzle-render-utils.js
  puzzles/puzzle-utils.js
Labels: puzzles

#41 add renderNewResults function to increment solved
  puzzles/puzzle-render-utils.js
  puzzles/puzzle-utils.js
Labels: puzzles

#43 fix issue where moving any tile out of position 9 "solved" the puzzle
  puzzles/puzzle-render-utils.js
  puzzles/puzzle-utils.js
Labels: puzzles

#45 Readme
  README.md
Labels: documentation

#47 change up the movementMap idea
  puzzles/puzzle-render-utils.js
  puzzles/puzzle-utils.js
Labels: puzzles

#48 Puzzle content
  about-devs/dev.css
  about-devs/index.html
  common/common.css
  common/utils.js
  home-page.css
  index.html
  puzzles/index.html
  puzzles/puzzle-render-utils.js
  puzzles/puzzle-utils.js
  puzzles/puzzle.css
  puzzles/puzzle.js
  test/logic.test.js
Labels: puzzles

#49 rollback shuffle functions to a working state
  puzzles/puzzle-render-utils.js
  puzzles/puzzle-utils.js
  puzzles/puzzle.js
Labels: puzzles

#52 added an isSolvable function into shuffle button
  puzzles/puzzle-render-utils.js
  puzzles/puzzle-utils.js
Labels: puzzles

#50 Puzzle content
  data/puzzle-info.js
  puzzles/index.html
  puzzles/puzzle-render-utils.js
  puzzles/puzzle.css
  puzzles/puzzle.js
Labels: puzzles

#51 Testing
  common/utils.js
  puzzles/puzzle-render-utils.js
  puzzles/puzzle-utils.js
  test/logic.test.js
Labels: puzzles

#54 Puzzle page style
  about-devs/dev.css
  about-devs/index.html
  common/common.css
  data/puzzle-info.js
  puzzles/index.html
  puzzles/puzzle.css
Labels: puzzles

#56 final design of puzzle page
  about-devs/index.html
  index.html
  puzzles/index.html
  puzzles/puzzle.css
  puzzles/puzzle.js
Labels: puzzles

#55 Disable tile movement until shuffle/start button is clicked
  puzzles/puzzle-render-utils.js
  puzzles/puzzle-utils.js
  puzzles/puzzle.js
  test/logic.test.js
Labels: puzzles

#58 minor style touch-ups across app
  about-devs/dev.css
  about-devs/index.html
  home-page.css
Labels: site-wide

#61 Fix isSolvable
  puzzles/puzzle-utils.js
Labels: puzzles

#62 Refactoring
  common/utils.js
  data/eight-data.js
  puzzles/puzzle-render-utils.js
  puzzles/puzzle-utils.js
  puzzles/puzzle.js
  refactoring/scratch-pad.js
Labels: site-wide

#63 User profile
  common/utils.js
  data/fifteen-data.js
  data/puzzle-info.js
  index.html
  puzzles/fifteen.js
  puzzles/index.html
  puzzles/puzzle-render-utils.js
  puzzles/puzzle-utils.js
  puzzles/puzzle.css
  puzzles/puzzle.js
Labels: puzzles

#65 Smaller screen css
  about-devs/dev.css
  common/common.css
  home-page.css
  index.html
  puzzles/index.html
  puzzles/puzzle.css
  refactoring/scratch-pad.js
Labels: about-devs, enhancement, home-page, puzzles, site-wide

#66 Puzzle css fix
  about-devs/dev.css
  puzzles/puzzle.css
  puzzles/puzzle.js
Labels: enhancement, puzzles, site-wide

#67 User profile
  common/utils.js
  puzzles/index.html
  puzzles/puzzle-render-utils.js
  puzzles/puzzle-utils.js
  puzzles/puzzle.css
  puzzles/puzzle.js
Labels: puzzles
